{
    "ignoreTrailingComments": true,
    "ignoreComments": true,
    "ignoreUrls": true,
    "ignoreStrings": true,
    "ignoreTemplateLiterals": true,
    "ignoreRegExpLiterals": true,
    "linebreak-style": ["error", "unix"],
    "printWidth": 80,
    "trailingComma": "all",
    "semi": true,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "endOfLine": "lf"
}
