{
    "linebreak-style": ["error", "unix"],
    "printWidth": 100,
    "trailingComma": "all",
    "semi": true,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "endOfLine": "lf"
}
