##################################################
# APP env
APP_ENV=development
# cpu
CPU_COUNT=2
# listen
API_PORT=8000
# db
DATABASE_URL=postgresql://development:development@node_api_postgres_development:5432/development
# password
SALT=10
# JWT
JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d
JWT_ALGORITHM=HS256
# cookies
COOKIES_JWT_REFRESH_TOKEN_EXP=2592000000
# logger
LOG_LEVEL=DEBUG
##################################################
# Env
NODE_ENV=development
# PostgreSQL credentials
POSTGRES_USER=development
POSTGRES_PASSWORD=development
POSTGRES_DB=development
# RebbitMQ credentials
RABBITMQ_DEFAULT_PASS=development
RABBITMQ_DEFAULT_USER=development
##################################################
