##################################################
# APP env
APP_ENV=local
# cpu
CPU_COUNT=1
# listen
API_PORT=8000
# db
DATABASE_URL=postgresql://local:local@node_api_postgres_local:5432/local
# password
SALT=10
# JWT
JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d
JWT_ALGORITHM=HS256
# cookies
COOKIES_JWT_REFRESH_TOKEN_EXP=2592000000
# logger
LOG_LEVEL=ERROR
##################################################
# Env
NODE_ENV=local
# PostgreSQL credentials
POSTGRES_USER=local
POSTGRES_PASSWORD=local
POSTGRES_DB=local
# RebbitMQ credentials
RABBITMQ_DEFAULT_PASS=local
RABBITMQ_DEFAULT_USER=local
##################################################
