##################################################
# APP env
APP_ENV=production
# cpu
#CPU_COUNT=1
# listen
API_PORT=8000
# db
DATABASE_URL=postgresql://production:production@node_api_postgres_production:5432/production
# password
SALT=10
# JWT
JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d
JWT_ALGORITHM=HS256
# cookies
COOKIES_JWT_REFRESH_TOKEN_EXP=2592000000
# logger
LOG_LEVEL=ERROR
##################################################
# Env
NODE_ENV=production
# PostgreSQL credentials
POSTGRES_USER=production
POSTGRES_PASSWORD=production
POSTGRES_DB=production
# RebbitMQ credentials
RABBITMQ_DEFAULT_PASS=production
RABBITMQ_DEFAULT_USER=production
##################################################
