##################################################
# APP env
APP_ENV=staging
# cpu
CPU_COUNT=4
# listen
API_PORT=8000
# db
DATABASE_URL=postgresql://staging:staging@node_api_postgres_staging:5432/staging
# password
SALT=10
# JWT
JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d
JWT_ALGORITHM=HS256
# cookies
COOKIES_JWT_REFRESH_TOKEN_EXP=2592000000
# logger
#    CRITICAL: 0,
#    ERROR: 1,
#    WARNING: 2,
#    INFO: 3,
#    DEBUG: 4,
#    TRACE: 5,
LOG_LEVEL=ERROR
##################################################
# Env
NODE_ENV=staging
# PostgreSQL credentials
POSTGRES_USER=staging
POSTGRES_PASSWORD=staging
POSTGRES_DB=staging
# RebbitMQ credentials
RABBITMQ_DEFAULT_PASS=staging
RABBITMQ_DEFAULT_USER=staging
##################################################
