##################################################
# APP env
APP_ENV=testing
# cpu
CPU_COUNT=1
# listen
API_PORT=8000
# db
DATABASE_URL=postgresql://testing:testing@node_api_postgres_testing:5432/testing
# password
SALT=10
# JWT
JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d
JWT_ALGORITHM=HS256
# cookies
COOKIES_JWT_REFRESH_TOKEN_EXP=2592000000
# logger
LOG_LEVEL=ERROR
##################################################
# Env
NODE_ENV=testing
# PostgreSQL credentials
POSTGRES_USER=testing
POSTGRES_PASSWORD=testing
POSTGRES_DB=testing
# RebbitMQ credentials
RABBITMQ_DEFAULT_PASS=testing
RABBITMQ_DEFAULT_USER=testing
##################################################
